﻿<div id="log"><div class="etitle">Log Session</div>
    <%=  svgx    %>
    <div id="practice-session-current">
        <div><textarea id="current-description" placeholder="write a description"><%= description %></textarea></div>
        <div>duration: 
                <span class="plus-small"><%= svgplusmall %></span>
                <span class="plus-big"><%= svgplu %></span>
                
            <span id="current-elapsed" display="none"><%= moment(duration).format('m [minutes] s [seconds]') %></span>
                <span class="minus-big"><%= svgminu %></span>
                <span class="minus-small"><%= svgminusmall %></span>
                    
                
        <div>date: <span id="current-date"></span></div>
        <div>start: <span id="current-start"><%= moment(start).format('MMMM Do YYYY, h:mm:ss a') %></span></div>
        <div>finish: <span id="current-finish"><%= moment(finish).format('MMMM Do YYYY, h:mm:ss a') %></span></div>
        <% if (stopwatchEngaged == false) {%>
        <div id="toggle-stopwatch" class="watch-stopped">Go</div>
        <% } else { %>
        <div id="toggle-stopwatch" class="watch-started">Stop</div>
        <% } %>
        <div id="save-current-session" class="button">Save</div>
    </div>
        </div>
</div>