﻿<header id="header"></header>
<div id="user-login" class="login">
    <div class="login-form">
        <h2>Log In</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="login-username" placeholder="Username" />
        <input type="password" id="login-password" placeholder="Password" />
        <input type="button" id="log-in-button" value="Log In"/>
    </div>
    <div class="signup-form">
        <h2>Sign Up</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="signup-username" placeholder="Username" />
        <input type="password" id="signup-password" placeholder="Create a Password" />
        <input type="button" id="sign-up-button" value="Sign Up"/>
    </div>
</div>