﻿<div id="<%= id %>" class="practice-session">
    <div class="past-name"><%= description %></div>
    <div><%= moment(duration).format('m [minutes] s [seconds]') %></div>
    <div class="past-time"><%= moment(start).format('MMMM Do YYYY, h:mm:ss a') %></div>
    <div></div>
</div>