* { margin: 0; padding: 0; border: 0; }




 @font-face
{
font-family:etrack;
src: url(../font/ei.woff) ;
}
 @font-face
{
font-family:lines;
src: url(../font/cavi.woff) ;
}


.etitle {
    font-family: etrack;
    font-size: 17pt;
    color: #58595B;
    margin-bottom:2pt;
}
#svguit {
    
    font-family: etrack;
    position: absolute;
    right: 2%;
    color: red;
}
#txlog {
    cursor: default;
    fill:  #939598;
    font-family: etrack;
}
#txlog:hover {
    
    fill: #22B29D;
}
#txabou {
    cursor: default;
    fill: #939598;
    font-family: etrack;
}
#txabou:hover {
    
    fill: #22B29D;
}

#txmusi {
    cursor: default;
    fill: #939598;
    font-family: etrack;
}
#txmusi:hover {
    fill: #22B29D;
}
#txhome{
    cursor: default;
    fill: #939598;
    font-family: etrack;
}
#txhome:hover {
    fill: #22B29D;
}
#log {
   
    margin-right:6pt;
    margin-top:6pt;
    position:relative;
background: -webkit-linear-gradient(gainsboro, white); /* For Safari */
background: -o-linear-gradient(gainsboro, white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(gainsboro, white); /* For Firefox 3.6 to 15 */
background: linear-gradient(gainsboro, white); /* Standard syntax (must be last) */ 
    float:left; 
     border-radius: 3pt;
    border-style: solid;
    border-width: 1pt;
    /*background-color: gainsboro; */
    font-family: lines;
    padding: 1pt;
    /*width: 50%; */
    
}
.titles {
    font-size: large;
}
.watch-stopped {
    background-color: mediumseagreen;
    border-color:darkgreen;
    border-radius: 3pt;
    font-family: lines;
    border-style: solid;
    color: white;
    float:left;
    padding: 2pt;
}
.watch-stopped:hover {
        cursor: default;
    }
.watch-started {
    background-color: red;
    border-color:darkred;
    border-radius: 3pt;
    font-family: lines;
    border-style: solid;
    color: white;
    float:left;
    padding: 2pt;

    
}

.watch-started:hover {
        cursor: default;
    }
.button {
    background-color: steelblue;
    border-color:darkblue;
    border-radius: 3pt;
    font-family: lines;
    border-style: solid;
    color: white;
    float:left;
    padding: 2pt;
    margin-left: 2pt;
}
    .button:hover {
        cursor: default;
    }
.clear {
    clear:both;
}
#logbox {
    display: none;
}
textarea {
    color: blue;
    font-family: lines;
}
#practice-session-current {
    font-family: lines;
}
#svgminus {
    fill: #58595B;
}
#svgminus:hover {
fill: #22B29D;
}
.close {
position:absolute;
right: -6pt;
top: -7pt;
width: 22pt;
height: 22pt;
}
.colo {
    fill: #ED1C24;
}
.close:hover {
    
    right: -11pt;
    top: -12pt;
    fill: #8C0A0A;
    width:28pt;
    height: 28pt;
    }
#stringmenu {
    

width:433pt;
height:365pt;
}
.practice-session {
    
    
    
    margin-right: 3pt;
    margin-top: 3pt;
    float: left;
   
    clear:both;
    border-radius: 3pt;
   
    
    
    padding: 1pt;
    /*width: 50%; */
}

#histobox {
   
   background: -webkit-linear-gradient(gainsboro, white); /* For Safari */
background: -o-linear-gradient(gainsboro, white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(gainsboro, white); /* For Firefox 3.6 to 15 */
background: linear-gradient(gainsboro, white); /* Standard syntax (must be last) */
        
    
    position:relative;
    float:left;
   
    font-family: lines;
     margin-right: 6pt;
    margin-top: 6pt;
    padding: 1pt;
    clear: both;
    
    border-radius: 3pt;
    border-style: solid;
    border-width: 1pt;
    
}
.past-time {
   /* color:peachpuff; */
    
}
.past-name {
   /* color:goldenrod;*/
}
.past-duration {
    
}
